<div id=shoutsettings style="display: block; align: center; text-align: center;">
<div class="optionbox">
<!--<select name="maxhits" class="selectpicker show-tick" data-style="btn-danger btn-lg" id="maxhits" title="Max Views:" data-header="Max Views" required="true">-->
<!--<select name="maxhits" id="maxhits" title="Max Views:">
  <option value="1" selected disabled>Max Views:</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="50">50</option>
  <option value="100">100</option>
  <option value="999999999">No limit</option>
</select> </br><p></br>
<select name="maxtime" class="selectpicker show-tick" data-style="btn-danger btn-lg" id="maxtime" title="Expires in:" data-header="Expires in.." required="true">-->
<!--<select name="maxtime" id="maxtime" title="Expires in:">
  <option value="1440" selected disabled>Expires in:</option>
  <option value="1440">24 hours</option>
  <option value="600">10 hours</option>
  <option value="240">4 hours</option>
  <option value="180">3 hours</option>
  <option value="60">1 hour</option>
  <option value="120">2 hours</option>
  <option value="30">30 minutes</option>
  <option value="10">10 minutes</option>
  <option value="5">5 minutes</option>
</select> </br>-->
<input type=hidden name=maxtime value="{{ maxtime }}">
<input type=hidden name=maxhits value="{{ maxhits }}">
</div>
</div>
