<div id=shoutsettings style="display: block;">
<select name="maxtime" class="selectpicker show-tick" data-style="btn-danger btn-lg" id="maxtime" title="Expires in:" data-header="Expires in..">
  <option value="2880" class="bigselect">48 hours</option>
  <option value="1440" disabled>24 hours</option>
  <option value="600" disabled>10 hours</option>
  <option value="240" disabled>4 hours</option>
  <option value="180" disabled>3 hours</option>
  <option value="60" disabled>1 hour</option>
  <option value="120" disabled>2 hours</option>
  <option value="30" disabled>30 minutes</option>
  <option value="10" disabled>10 minutes</option>
  <option value="5" disabled>5 minutes</option>
</select> </br>
<input type=hidden name=maxhits id="maxhits" value="999999999">
</div>
